# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Configuração do ambiente
.env

# Logs
logs/
*.log

# Diretórios do sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/